<%= form_for(:role, url: {action: action}, method: method) do |f| %>
  <% if @error.present? && @error.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@error.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @error.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id, value: @role.id  %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="ar-accordion">

  <% @resources.each do |resource| %>
    <div class="ar-accordion-item">
      <input class="ar-accordion-input" id="<%= resource.id %>" type="checkbox">
      <label class="ar-accordion-title" for="<%= resource.id %>">
        <%= resource.name  %>
      </label>

    <div class="ar-accordion-content">
      <% resource.actions.each do |action|  %>
        <div>
          <input type="checkbox" name="role[action_ids][]" value="<%= action.id %>" <%= checked="checked" if @role.action_ids.include?(action.id) %> >
          <%= action.name%>
        </div>

      <% end %>
    </div>

  </div>

  <% end %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
